:root
{
    /* COLORS */
    --bg: rgb(68, 153, 187);
    --black: rgb(50, 50, 50);
    --white: rgb(250, 250, 250);
    --gray: rgb(150, 150, 150);
    --shade: rgba(0, 0, 0, 0.2);
    --green: rgb(33, 147, 33);
    --green_strike: rgb(20, 230, 20);
    
    /* FONT STYLES */
    --font_small: 12pt;
    --font_medium: 14pt;
    --font_normal: 16pt;
    --font_large: 20pt;
    --font_big: 24pt;
    --font_huge: 30pt;
    --font_massive: 40pt;    
}