.home_header_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 10px;
    background-color: rgb(50, 50, 50);
    min-height: 100vh;
}
.home_header {
    flex: 0.75;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0px 10px;
    padding: 10px;
    color: rgb(220, 220, 220);
}

.home_intro {
    padding: 10px;
    font-size: 16pt;
}

.home_demo {
    display: flex;
    flex-direction: row;
    /* margin-top: 20px; */
}
#demo1,
#demo2,
#demo3 {
    flex: 1;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    background-color: gray;
}

.home_steps {
    margin: 50px 0px;
    margin-bottom: 0;
    line-height: 40px;
}
.home_forms {
    flex: 0.25;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 150px;
}
.login_container, .signup_container
{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 0px;
}
.error_display {
    color: red;
    flex: 0.8;
}
.action_button {
    flex: 0.2;
}

@media screen and (max-width: 900px) {
    .home_header_container {
        flex-direction: column;
    }
    .home_header
    {
        margin: 0;
        padding: 0;
    }

    .home_demo
    {
        display: none;
    }

    .form_container
    {
        margin: 0 20px;
    }

    .login_container, .signup_container
    {
        margin: auto;
        width: 350px;
    }
}