.live {
    display: flex;
    background-color: rgb(50, 50, 50);
}

.activity_header {
    flex: 0.8 !important;
    justify-content: center;
    color: black;
    background-color: rgb(220, 220, 220);
    text-align: center;
    margin: 0;
    padding: 10px 0px;
    border-radius: 2px;
}

.live_body {
    flex: 1;
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(50, 50, 50);
}
.createactivitybutton {
    text-align: center;
    margin: 5px;
}
/* MODAL */
.newinstance {
    display: flex;
    flex: 1;
}
.newinstance > h5 {
    flex: 1;
    padding: 10px;
}
.text_input {
    flex: 1;
    margin: 0 10px;
    font-size: var(--small);
    padding: 0 2px;
}

.activity_space {
    flex: 0.2;
    background-color: grey;
    border-radius: 2px;
    margin: 2px;
    padding: 1px;
}
.activity {
    margin-top: 10px;
    border-radius: 2px;
    padding: 5px 10px;
    background-color: rgb(61, 61, 61);
}
.user_lists {
    text-align: left;
    list-style: none;
    font-size: var(--small);
    color: white;
    margin-top: 50px;
    list-style-type: disc;
}
.user_lists > li {
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.online_mark
{
    margin: 0px 5px;
    width: 10px;
    height: 10px;
    background-color: rgb(45, 227, 45);
    border-radius: 100%;
}

.join_room_input {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    position: relative;
}
.join_inputtext
{
    margin: 5px;
    border-radius: 10px;
    font-size: var(--small);
    padding: 5px;
    flex: 3;
    border: none;
    outline: none;
}

/* THE RIGHT MAIN FLEX */
.code_space {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    background-color: grey;
    margin: 2px;
}
.live_header {
    flex: 0.05;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    margin-top: 5px;
}
.codeinteracts
{
    flex: 0.05;
}
.live_header_logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    width: 100%;
}

.joincode_header
{
    flex: 0;
    margin: 2px 10px;
    padding: 5px;
    border: 2px solid rgb(100, 100, 100);
    font-weight: 500;
    border-radius: 5px;
    color: rgb(239, 239, 239);
    background-color: rgb(68, 153, 187);
}

.code {
    font-family: Consolas;
    resize: none;
    flex: 1;
    margin: 10px;
    padding: 10px;
    padding-bottom: 100px;
    border: 2px solid var(--black);
    border-radius: 10px;
    background-color: white;
    font-size: 12pt;
    outline: none;
    overflow: scroll;
    color: black;
}
.code::-webkit-scrollbar{
    display: none;
}
.line {
    width: 100%;
}

.code:focus
{
    box-shadow: 1px 1px 2px 2px black;
}

.objectpassive {
    display: none;
}

@media screen and (max-width: 1000px) {
    .live_body {
        width: 100%;
    }
    .activity_space
    {
        flex: 0.1 !important;
    }
    .join_room_input
    {
        flex-direction: column;
    }
    .code_space
    {
        flex: 1 !important;
    }
}

@media screen and (max-width: 900px) {

    .live_body
    {
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(50, 50, 50);
    }
    .activity_space
    {
        margin: 0;
    }
    .join_room_input
    {
        flex-direction: row;
    }
    .activity_inner
    {
        display: none;
        flex: 0;
        margin: 0;
    }
    .activity_header
    {
        margin: 0;
    }
    .user_lists
    {
        margin: 0;
        font-size: 1pt;
    }
    .code_space
    {
        margin: 0
    }

    .show
    {
        display: block;
    }
}